@import '~antd/dist/antd.css';

body {
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-flow: column;
}

.header {
  background-color: white;
  border-bottom-style: groove;
  position: relative;
  height: 10vh;
}

.breadcrumb, .logo {
  position: absolute;
  bottom: 5px;
}

.logo {
  right: 40px;
  border-style: solid;
  border-radius: 50%;
  border-width: 1px;
}


.content {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.content Button {
  height: 115px;
  margin: 50px;
}

.icon {
  font-size: 100px;
}

footer {
  height: 10vh;
  background-color: silver;
  display: flex;
  align-items: center;
  justify-content: center;
}