@import '~antd/dist/antd.css';

.layout {
  text-align: center;
}

.header {
  background-color: white;
  border-bottom-style: groove;
  position: relative;
}

.breadcrumb, .logo {
  position: absolute;
  bottom: 5px;
}

.logo {
  right: 40px;
  border-style: solid;
  border-radius: 50%;
  border-width: 1px;
}


.content {
  background-color: white;
  
}

.content Button {
  height: 100px;
  margin: 50px;
}

.icon {
  font-size: 60px;
}