@import '~antd/dist/antd.css';

/* For Welcome page */
.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
  position: relative;
}

.welcome {
  position: absolute;
  top: 10%;
  left: 20%;
  font-size: xx-large;
  font-weight: 500;
  color: darkslategray;
}

/* For log In page */
.login-form {
  max-width: 300px;
  position: absolute;
  top: 15%;
  right: 20%;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}