@import '~antd/dist/antd.css';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

body {
    text-align: center;
    height    : 100%;
    width     : 100%;
    margin    : 0;
    display   : flex;
    flex-flow : column;
}

.header {
    background-color   : white;
    border-bottom-style: groove;
    position           : relative;
    height             : 10vh;
}

.breadcrumb {
    position: absolute;
    bottom  : 5px;
    left    : 10px;
}

.logo {
    position     : absolute;
    bottom       : 5px;
    right        : 40px;
    border-style : solid;
    border-radius: 50%;
    border-width : 1px;
}


.content {
    height         : 80vh;
    display        : flex;
    flex-flow      : row wrap;
    align-items    : center;
    justify-content: space-evenly;
}

.content Button {
    height: 115px;
    margin: 50px;
}

.icon {
    font-size: 100px;
}

footer {
    height          : 10vh;
    background-color: silver;
    display         : flex;
    align-items     : center;
    justify-content : center;
}